@import url("https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wdth,wght@0,75..125,200..900&display=swap");
@import url(https://db.onlinewebfonts.com/c/01ac6bfd6b01dcbec4c26cf855683b7a?family=Kunst);

@font-face {
	font-family: "Brier";
	src: url("fonts/Brier-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

body {
	margin: 0;
	display: grid;
	min-height: 100vh;
	place-items: center;
	background-image: url("https://images.wallpapersden.com/image/download/topography-abstract-black-texture_a2lmZmiUmZqaraWkpJRnbW1lrWZtZWU.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	font-family: "Mona Sans", sans-serif;
}

.name-brand {
	position: absolute;
	top: 40px;
	left: 60px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	line-height: 0.9;
}

/* OBED */
.first-name {
	font-family: "Brier", serif;
	font-size: 3rem;
	letter-spacing: 0.1px;
	display: block;
	width: 100%;
	color: white;
}

/* JOSHUA */
.last-name {
	font-family: "Mona Sans", sans-serif;
	font-size: 1.8rem;
	font-weight: 900;
	display: block;
	color: white;
}

a {
	-webkit-tap-highlight-color: transparent;
	outline: none;
	user-select: none;

	display: inline-flex;
	position: relative;
	overflow: hidden;

	justify-content: center;
	color: #f4f4ed;
	font-size: 6rem;
	font-variation-settings: "wdth" 77;
	font-weight: 900;
	line-height: 0.8;
	text-decoration: none;
	text-transform: uppercase;

	/* ORIGINAL TEXT EFFECT */
	text-shadow: 0 1em 0 red;

	transition: text-shadow 300ms ease, color 300ms ease;
}

/* ---------------- NAV ---------------- */

nav {
	display: flex;
	flex-direction: column;
	gap: 0.10em;
	margin-left: 50vw;
}

/* ---------------- SPLIT LETTER EFFECT ---------------- */

a span {
	display: inline-block;
	transform: translateY(0);
	transition: transform 250ms cubic-bezier(0.2, 0, 0.5, 1), color 300ms ease;
}

a:hover span {
	transform: translateY(-1em);
	color: red;
}

a:hover {
	color: red;
	text-shadow: 0 1em 0 red;
}

/* ---------------- SELECTED STATE ---------------- */

/* DO NOT USE OPACITY */
a.selected {
	color: rgba(255,255,255,0.4);
	text-shadow: 0 1em 0 rgba(255,0,0,0.4);
}

/* Disable hover animation when selected */
a.selected:hover span {
	transform: translateY(0) !important;
	color: inherit !important;
}

/* Straight strike */
a.selected::after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	height: 6px;
	background: red;
	transform: translateY(-50%);
	pointer-events: none;
}

/* ---------------- IMAGE STACK ---------------- */

.image-stack {
	position: absolute;
	left: 5%;
	top: 50%;
	transform: translateY(-50%);
	display: flex;
	align-items: center;
}

.menu-image {
	width: 200px;
	filter: grayscale(100%);
	transition: 500ms ease;
	position: relative;
	transform: translateY(calc(var(--base-y, 0px) + var(--mouse-y, 0px)));
}

/* Overlap */
.menu-image:not(:first-child) {
	margin-left: -80px;
}

/* Zig-zag */
.menu-image:nth-child(odd) {
	--base-y: -60px;
}

.menu-image:nth-child(even) {
	--base-y: 60px;
}

/* Stacking */
.menu-image:nth-child(1) { z-index: 5; }
.menu-image:nth-child(2) { z-index: 4; }
.menu-image:nth-child(3) { z-index: 3; }
.menu-image:nth-child(4) { z-index: 2; }
.menu-image:nth-child(5) { z-index: 1; }

/* Active image */
.menu-image.active {
	filter: grayscale(0%);
}

/* Lift effects */
.menu-image.lift-up {
	--base-y: -110px;
}

.menu-image.lift-down {
	--base-y: 90px;
}
